<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">聯絡我們</h2>
                <h3 class="section-subheading text-muted">請您填入您的資訊內容，我們將盡快為您服務</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate="" method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" name="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" name="email" required="" data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" placeholder="Your Website *" name="url" required="" data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" name="message" required="" rows="6" data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">送出內容</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% load easy_maps_tags %}
        {% for item in company %}
        <div class="row" style="padding-top: 30px;">
            <p>
                {{ item.name }}-{{ item.zipcode }}{{ item.address }}
            </p>
            {% easy_map item.address '100%' 400 %}
        </div>
        {% endfor %}
    </div>
</section>
