<section id="services" class="bg-primary" style="background-size: cover;background-position: center;background-image: url(/static/img/management_philosophy.jpg);height:100%;padding-top:30%">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ management_philosophy.0.title }}</h2>
                <hr class="light">
                <p class="text-faded">{{ management_philosophy.0.content }}</p>
            </div>
        </div>
    </div>
</section>
